{% extends 'base.html' %}


{% block content %}


<div class="main-contener">
	<div class="videos-container">
		{% for video in videos %}

		<div class="video-preview-explore">
			<a href={{ video.url }} class="thumbnail-row">

				<img class="thumbnail" src={{ video.thumbnails}} align=" right">
				<div class="video-time">{{ video.duration_video }}</div>
			</a>
			<div class="video-info-grid">
				<div class="channel_picture">
					<img class="profile-picture"
						src="{{ video.profile_pic }}">

				</div>
				<div class="video-info">
					<p class="video-title">{{ video.title }}</p>
					<p class="video-stats">{{ video.description }}</p>
					<p class="video-author">{{ video.creator }}</p>
					<p class="video-stats">{{ video.views_read}} views &#183; {{ video.publishedDate }} days ago </p>
				</div>
			</div>
		</div>

		{% endfor %}
	</div>


	<div class="setting-container">
		<form class="form-inline" method="POST" action="{{ url_for('explore') }}">

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">Country: </span>
					<select name="region" id="region" class="selectpicker form-control">
						{% for o in region_list %}
						<option value="{{ o.region }}">{{ o.display }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="input-group">
					<span class="input-group-addon">Category: </span>
					<select name="category" id="category" class="selectpicker form-control">
						{% for o in category_list %}
						<option value="{{ o.categoryID }}">{{ o.display }}</option>
						{% endfor %}
					</select>
				</div>
				<br>
				<button class="Setting-button" type="submit" class="btn btn-default">Search</button>
			</div>
		</form>

	</div>
</div>
</main>



{% endblock %}