{% extends 'base.html' %}
{% block content %}

<form class="uploud-form-box" action="http://localhost:5000/upload" enctype="multipart/form-data" method="POST">
	<div class="box-container">

		{{ form.hidden_tag() }}
		<div class="data-container">
			{{ form.title.label(class="data-label") }}
			{{ form.title(class="data-control", placeholder="Title") }}
		</div>

		<br>


		<div class="data-container">
			{{ form.creator.label(class="data-label") }}
			{{ form.creator(class="data-control", placeholder="Creator") }}

		</div>

		<br>
		<div class="data-container">
			{{ form.video_pic.label(class="data-label") }}
			{{ form.video_pic(class="data-control") }}

		</div>


		<br>
		<div class="data-container">
			{{ form.submit(class="data-control") }}
		</div>

	</div>


</form>

{% endblock %}