{% extends 'base.html' %}
{% block content %}


<form class="uploud-form-box" action="http://localhost:5000/upload" enctype="multipart/form-data" method="POST">
	<div class="box-container">

		<div class="data-container">
			{{ form.category.label(class="data-label") }}
			{{ form.category(class="data-control", placeholder="Music, Gaming, Education...") }}
		</div>


		<div class="data-container">
			{{ form.link_video.label(class="data-label") }}
			{{ form.link_video(class="data-control", placeholder="Url link") }}
		</div>


		<br>
		<div class="data-container">
			{{ form.submit(class="data-control") }}
		</div>

	</div>


</form>

{% endblock %}